/* Main CSS file */

.list-group{
    margin-top: 21px;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #eee;
    pointer-events: none;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #777;
}

.list-group-item.dark{
    background-color: #eee;
}

.row .lines {
    margin: 1em 0;
    border-top: 1px solid #ddd;
}

.row .nolines {
    margin: 1em 0;
}

.scroll{
    overflow-x: auto;
    overflow-y: auto;
    height: 400px;
}

.done {
    font-style: italic;
}

.checkMark {
    color: #5cb85c;
}

.nameLink {
    cursor: pointer;
}

.hardBreakAboveX1{
    padding-top: 30px;
}

.hardBreakAboveX2{
    padding-top: 60px;
}

.questionTitle{
    font-size: 200%;
}

.questionDateText{
    float:right;
    padding-top:10px
}

.successIcon {
    color: #4F8A10;
}

.arrowIcon{
    padding-left: 18px;
    padding-right: 18px;
}

.noTopPadding{
    padding-top: 0px;
    margin-top: 0px;
}
.noBottomPadding{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.questionPadding{
    padding-left: 20px;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
